.edit-link {
  font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0089a8;
    border: 2px solid #0089a8;
    padding: 10px;
    border-radius: 15px 50px; float:right;
    margin-bottom: 7px;
    margin-top: -6%;
  }

  .edit-link:hover, a:active {
    background-color: rgb(249, 195, 77);
    color: black;
  }

  .btn{
    color: white;
    padding: 10px 24px;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #0089a8;
  }
  .btn:hover{
    -webkit-filter: brightness(80%);
  }
  
  .search-input {
      width: 70%;
      border: 3px solid #00B4CC;
      padding: 5px;
      height: 20px;
      border-radius: 5px;
      outline: none;
      color: black;
      font-size: 15px;
      margin-bottom: 10px;
    }

.filter {
  width: auto;
  border: 3px solid #00B4CC;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 2%;
}
  