/*body*/
body {
    margin: 0;
    padding: 0;
}

.body-container {
    position: absolute;
    margin-left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
    padding: 10px;
}

#banner-img img {
    max-width: 100%;
    max-height: auto;
    padding: 0;
}

