.userForm {
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;
    margin: 0;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.userForm form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: center;
}

.userForm label {
    display: flex;
    margin-bottom: 8px;
    color: #333;
}

.userForm input {
    max-height: 30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9a9999;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
}

.userForm select {
    max-height: 35px;
    width: 100%;
    padding: 5px;
    border: 1px solid #9a9999;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
}

.column {
    display: flex;
    column-count: auto;
    column-gap: 20px;
}

button {
    position: relative;
    top: 10px;
    background-color: #0089a8;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #00687e;
}

