.userForm {
    display: none;
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;
    position: relative;
    top: 7px;
    left: 50%;
    transform: translate(-50%);
}

.userForm form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 3%;
}

#customerForm.show {
    display: block;
}

.userForm label {
    display: inline-block;
    margin-bottom: 8px;
    color: #333;
}

.userForm input {
    display: inline-block;
    max-height: 30px;
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9a9999;
    border-radius: 4px;
    margin-right: 10px;
}

.userForm select {
    display: block;
    max-height: 35px;
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #9a9999;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    column-gap: 20px;
}

.column div {
    width: 100%;
}

#formbtn {
    position: relative;
    max-width: 100px;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: #F0A800;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#formbtn:hover {
    background-color: #F06C00;
}

